<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <!-- Bootstrap -->
    <table>
        <tr>
            <td><a href="~/Index.cshtml">Main</a></td>
            <td><a href="~/form03.cshtml">Eingabe</a></td>
            <td><a href="~/ausgabe.cshtml">Anzeigen</a></td>
            <td><a href="">Hilfe</a></td>
        </tr>
    </table>
</body>
</html>
